@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --accent: #b4befe;
  --accent-2: #eba0ac;
  --background: #11111b;
  --background-2: #1e1e2e;
  --foregournd: #cdd6f4;

  --radius: 8px;
  --gap: 1rem;
  --padding: 0.25rem;
}

html,
body {
  width: 100vw;
  height: 100dvh;

  color: var(--foregournd);
  background-color: var(--background);
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  gap: var(--gap);
  flex-direction: raw;
  align-items: center;
  justify-content: center;
}

.waifu_container {
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--accent);
  border-radius: var(--radius);
}
.waifu {
  width: 15rem;
}

.startpage {
  width: 35rem;
  height: 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  border: 2px solid var(--accent);
  border-radius: var(--radius);
}

.searchbar {
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-size: 2em;
}

.search_input {
  width: fit-content;
  height: 1.65rem;
  outline: none;
  color: var(--foregournd);
  caret-color: var(--accent-2);
  caret-shape: underscore;
  padding: 5px;
  border: none;
  border-bottom: 2px solid var(--accent);
  /* border: 2px solid var(--accent); */
  /* border-radius: var(--radius); */
  background-color: transparent;
}

.bookmarks_container {
  display: flex;
  flex-direction: raw;
  gap: var(--gap);
}

.bookmark {
  width: 10rem;
  height: 10rem;

  border: 1.5px solid var(--accent);
  border-radius: var(--radius);
  padding: var(--padding);
}

.bookmark_title {
  width: 100%;
  display: flex;
  justify-content: center;

  color: var(--accent-2);
  font-weight: bold;
}

.bookmark_list li {
  list-style: inside;
}

.bookmark_list li a {
  color: var(--foregournd);
  text-decoration: none;
  transition: color 150ms;
  font-weight: 600;
}
.bookmark_list li a:hover {
  color: var(--accent-2);
}
